.tatbleStyle {
	border-collapse: collapse;
	border-bottom: 1.0px solid #1f3f51;
	padding-left: 5.0px;
	padding-top: 5.0px;
	padding-bottom: 7.0px;
}
.thStyle {
	border-collapse: collapse;
	border-left: 3.0px solid #1f3f51;
	border-bottom: 1.0px solid #1f3f51;
	padding-left: 5.0px;
	padding-top: 5.0px;
	padding-bottom: 7.0px;
	font-size:10pt;
	font-family:Meiryo UI;
}
.tdStyle {
	background-color: #ffffff;
	border-collapse: collapse;
	border-bottom: 1.0px solid #1f3f51;
	padding-left: 5.0px;
	padding-top: 5.0px;
	padding-bottom: 7.0px;
	font-size:10pt;
	font-family:Meiryo UI;
}
.borderStyle {
	border-left: 0.0px solid #1f3f51;
	height: 5.0px;
}
.historyFont {
	font-family:Meiryo UI;
	font-size:8pt;
	color:rgb(31,63,81)
}
.pnlPadding {
	padding-left:10.0px;
	padding-right:10.0px;
	padding-top:10.0px
}
.btnContainer {
	background-color:rgb(255,255,255);
	border: 0;
	padding-top:7.0px;
	padding-bottom:7.0px;
	margin-left:2.0px;
	margin-right:2.0px;
	height:auto;
	font-weight:bold;
	color:rgb(32,32,32)
}
.btnContainer:hover {
	background-color: #F0FAFF;
	cursor: pointer;
	color:rgb(32,32,32);
}
.btnContainerActive {
	background-color: #90C4FF;
	border: 0;
	padding-top:7.0px;
	padding-bottom:7.0px;
	margin-left:2.0px;
	margin-right:2.0px;
	height:auto;
	font-weight:bold;
	color:rgb(32,32,32)
}
.btnContainerActive:hover {
	cursor: pointer;
}
.btnBackground {
	height:auto;
	margin-left:2.0px;
	margin-right:2.0px;
	padding-top:7.0px;
	padding-bottom:7.0px;
	border: 1px solid #000000;
	background:rgb(32,32,32);
	font-size:10pt;
	font-family:Meiryo UI;
	font-weight:bold;
	color:rgb(255,255,255);
}
.btnBackground:hover {
	background-color:rgb(87,87,87);
	border: 1px solid #818181;
	cursor: pointer;
}
.itemLabel {
	font-size:10pt;
	font-family:Meiryo UI;
	font-weight:bold;
	color:rgb(31,63,81)
}
.sectionLabel {
	font-size:12pt;
	font-weight:bold;
	color:rgb(255,255,255);
	font-family:Meiryo UI
}
.sectionCell {
	background-color:rgb(31,63,81);
	height:40.0px;
	padding-left:5.0px
}
.rowUnread * {
	font-weight:bold;
	color: red;
}
.rowDefault {
	background-color: #FFFFFF;
}
.rowAlternating {
	background-color: #B4DAC1;
}

/*	dropmenu	*/
.dropmenu {
	*zoom: 1;
	list-style-type: none;
	margin: 0 auto 0;
	padding: 5.0px 0 5.0px;
}
.dropmenu:before, .dropmenu:after {
	content: "";
	display: table;
}
.dropmenu:after {
	clear: both;
}
.dropmenu li {
	position: relative;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.dropmenu li a {
	display: block;
	margin: 0;
	padding: 10px 0 10px;
	background: #FFFFFF;
	color: #202020;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}
.dropmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}
.dropmenu li ul li {
	width: 100%;
}
.dropmenu li ul li a {
	padding: 13px 15px;
	border-left: 1px solid #7EABCD;
	border-right: 1px solid #7EABCD;
	background: #FFFFFF;
	text-align: left;
}
.dropmenu li:hover > a {
	background: #FFFFFF;
}
.dropmenu li a:hover {
	background: #F0FAFF;
}
.dropmenuActive {
	background-color: #90C4FF !important;
}
.dropmenuTop {
	border-top: 1px solid #7EABCD;
}
.dropmenuBottom {
	border-bottom: 1px solid #7EABCD;
}
#dropmenu li ul li {
	overflow: hidden;
	height: 0;
	transition: .2s;
}
#dropmenu li:hover ul li {
	overflow: visible;
	height: auto;
}
.bgwhite {
	background-color: #FFFFFF;
}

/* Override the default setting */
.xspColumnUnread {
	padding-left: 10px !important;
	width: 20.0px !important;
}
.xspColumnRead {
	padding-left: 10px !important;
	width: 20.0px !important;
}
.sectionLabel-box-header {
	/* height: 40.0px;	*/
}
